body {
  background-color: #1e69b2;
  font-family: "SST W01 Light","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}

button {
  background-color: #065ca7;
  border: none;
  color: white;
  padding: 0.70em 1.25em 0.85em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 8px;
}

input {
  width: 38em;
  height: 3em;
}

::-webkit-input-placeholder {
 font-size: 12px;
 font-style: italic;
 color: blue;
 font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% 15%;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  background: #1e69b2;
  background: -webkit-radial-gradient(#1e69b2, #28b4dc);
  background: -o-radial-gradient(#1e69b2, #28b4dc);
  background: -moz-radial-gradient(r#1e69b2, #28b4dc);
  background: radial-gradient(#1e69b2, #28b4dc);
}

#leftArrow {
  display: none;
}

#rightArrow {
  display: none;
}

.arrow {
  font-size: 1.75em;
  font-weight: bolder;
}

.results {
  display: flex;
  flex-direction: column;
  background-color: #2d70b8;
}

.resultRow {
  display: flex;
  flex-direction: row;
  margin: 0.5em 1.0em;
}

.resultText {
  flex-direction: column;
  margin-left: 1em;
}

.displayName {
  font-size: 2.5em;
  color: #babbbc;
  margin-bottom: 0.125em;
}

.game {
  font-size: 1.5em;
  color: #F8F8FF;
}

.status {
  font-size: 1.25em;
  color: #F8F8FF;
}

.errorImage {
  height: 180px;
  width: 320px;
}

.launchImage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 360px;
  width: 720px;
}
